
<section class="dashboard-layout">
    <section class="error-section hidden">
        <%#
        Various error messages can be displayed here. For example, if the Steam API key is missing,
        or if the user's steam profile isn't set to public in order to let them know how to fix potentially
        empty game results despite logging in (until we think of a better way to go about this).
        %>
        <% if (!process.env.STEAM_API_KEY) { %>
            <section class="error">
                <h3>Steam API Key is missing!</h3>
                <p>Generate <a href="https://steamcommunity.com/dev/apikey" target="_blank">here</a> and add it to your .env file.</p>
            </section>
        <% } %>

        <% if (!playerIsPublic) { %>
            <section class="error">
                <h3>Your Steam profile or game details aren't set to public, so we might not be able to see your games!</h3>
                <p>Make sure your profile and game details are public
                    <a href="https://steamcommunity.com/my/edit/settings" target="_blank">here</a>
                    and refresh.
                </p>
            </section>
        <% } %>
    </section>

    <div class="dashboard-headers">
        <h1>Welcome, <%= user.steamUserName %></h1>
        <h2><%= user.steamUserName %> currently owns <span class="game-count"><%= games.length %></span> games!</h2>
    </div>

    <% console.info("ðŸŸ Example game element response from dashboard", games[0]) %>

    <ul class="games-list">
        <% games.forEach( game => { %>
            <%#
            Within Steam Web API docs, check GetOwnedGames > Result layout > img_icon_url for more info:
            https://developer.valvesoftware.com/wiki/Steam_Web_API#GetOwnedGames_.28v0001.29
            %>
            <% const imgURL = `https://media.steampowered.com/steamcommunity/public/images/apps/${game.appid}/${game.img_icon_url}.jpg`%>
            <li class='game' data-id='<%= game.appid %>'>
                <%#
                Some game icon hashes from Steam seem to be missing. ex: 3 were missing from 413 results.
                In this case, we can just skip trying to attach those icons.
                %>

                <a class='game-page-link' href='/todos/<%= user.steamID %>/<%= game.appid %>/<%= (game.name).split(' ').join('_')%>'>
                    <div>
                        <% if (game.img_icon_url) { %>
                            <img src="<%= imgURL %>" alt="Game Icon" class="game-icon"/>
                        <% } %>
                    </div>
                    <%=game.name%>
                </a>
                <span class="hours-played">
                    <%= (game.playtime_forever / 60).toFixed(1) %> hours played
                </span>
                <div class="steam-page-link-section">
                    <a href="https://store.steampowered.com/app/<%= game.appid %>" class="steam-page-link" target="_blank">
                        <img src="../images/steam_icon.svg" alt="Steam Page" class="steam-logo"/>
                    </a>
                </div>
            </li>
        <% }) %>
    </ul>
</section>
